__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
*.env
.DS_Store
uploads/
temp/
*.log
# Translations
# *.mo
messages.pot
# **/LC_MESSAGES/*.mo
# Fichiers de backup
*.bak
*.bak.*
*.swp
*.swo

translations.backup/
translations_backup*/
scripts/translations/
