# Fichiers Python
[python: **/blueprints/**.py]
[python: **/managers/**.py]
[python: **/utils/**.py]
[python: **/*.py]

# Templates Jinja2
[jinja2: **/templates/**.html]

# Fichiers JavaScript - UNE SEULE ligne extract_messages
[javascript: **/static/js/**.js]
extract_messages = i18n.t:1

# Pour les autres fichiers JS
[javascript: **/*.js]
extract_messages = i18n.t:1