services:
  - type: web
    name: pdf-fusion-pro-ultimate
    repo: https://github.com/mybsow/pdf-fusion-pro_ultimate
    region: frankfurt
    plan: free
    branch: main
    autoDeploy: true

    envVars:
      - key: FLASK_ENV
        value: production
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 1
      - key: PORT
        value: 10000
      - key: TESSDATA_PREFIX
        value: /usr/share/tesseract-ocr/4.00/tessdata

    buildCommand: |
      python -m pip install --upgrade pip
      python -m pip install -r requirements.txt

    startCommand: gunicorn --bind 0.0.0.0:$PORT --workers 2 --threads 4 --worker-class gthread app:app

    aptPackages:
      - tesseract-ocr
      - tesseract-ocr-fra
      - poppler-utils

    healthCheckPath: /health
    healthCheckTimeout: 30

    disk:
      name: tmp
      mountPath: /tmp
      sizeGB: 1
