/* Styles principaux */
body {
    font-family: 'Inter', sans-serif;
    padding-top: 70px; /* Pour la navbar fixe */
}

.navbar-main {
    background-color: #4361ee !important;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
