{% extends "pdf/pdf_base.html" %}

{% block pdf_title %}{{ _('Fusionner plusieurs PDF') }}{% endblock %}
{% block pdf_description %}{{ _('Déposez vos fichiers PDF et obtenez un document unique fusionné.') }}{% endblock %}

{% block pdf_options %}
<!-- Pas d'options spécifiques pour la fusion -->
{% endblock %}

{% block button_text %}{{ _('Fusionner les PDF') }}{% endblock %}
{% block button_icon %}object-group{% endblock %}

{% set upload_zone_id = 'mergeUploadZone' %}
{% set file_info_id = 'mergeFileInfo' %}
{% set button_id = 'mergeButton' %}
{% set upload_manager = 'mergeUploadZone' %}
{% set multiple = true %}